@font-face {
  font-family: Archivo;
  font-style: normal;
  src: local(Archivo),
    url("/fonts/Archivo/Archivo-VariableFont_wdth,wght.ttf") format("truetype");
}
@font-face {
  font-family: Archivo;
  font-style: italic;
  src: local(Archivo),
    url("/fonts/Archivo/Archivo-Italic-VariableFont_wdth,wght.ttf")
      format("truetype");
}
