@font-face {
  font-family: Archivo;
  font-style: normal;
  src: local(Archivo),
    url("/fonts/Archivo/Archivo-VariableFont_wdth,wght.ttf") format("truetype");
}
@font-face {
  font-family: Archivo;
  font-style: italic;
  src: local(Archivo),
    url("/fonts/Archivo/Archivo-Italic-VariableFont_wdth,wght.ttf")
      format("truetype");
}

:root {
  /* font fallbacks */
  --font-family-fallback: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  /* font families */
  --font-family-Archivo: Archivo, var(--font-family-fallback);

  /*font weights*/
  --font-weight-hairline: 100;
  --font-weight-ultra-light: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-ultra-bold: 800;
  --font-weight-black: 900;

  /* font varaiation settings */
  --font-variation-weight-hairline: "wght" var(--font-weight-hairline);
  --font-variation-weight-ultra-light: "wght" var(--font-weight-ultra-light);
  --font-variation-weight-light: "wght" var(--font-weight-light);
  --font-variation-weight-normal: "wght" var(--font-weight-normal);
  --font-variation-weight-medium: "wght" var(--font-weight-medium);
  --font-variation-weight-semi-bold: "wght" var(--font-weight-semi-bold);
  --font-variation-weight-bold: "wght" var(--font-weight-bold);
  --font-variation-weight-ultra-bold: "wght" var(--font-weight-ultra-bold);
  --font-variation-weight-black: "wght" var(--font-weight-black);

  /* colors */

  /* background */
  --color-primary-background: #d9d9d9;

  /* text */
  --color-primary-text: #3a3a3a;

  /* gradients */
  --color-primary-gradient: linear-gradient(
    90deg,
    hsl(0, 0%, 83%) 0%,
    hsl(0, 0%, 83%) 1%,
    hsl(0, 0%, 88%) 26%
  );
}

html {
  font-family: var(--font-family-Archivo);
}

body {
  margin: 0;
  background: var(--color-primary-gradient);
}

footer {
  position: fixed;
  background: var(--color-primary-gradient);
  width: 100vw;
  padding-top: 16px;
  padding-bottom: 16px;
  bottom: 0px;
}

a {
  color: var(--color-primary-text);
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-around;
  margin: 0;
}
